.card.bg-danger {
    background-color: #8B0405 !important;
}

.px-4.text-danger{
  color: #8B0405 !important;
}

.flex-box-center{
  display: flex;
  align-items: center;
}

.mix-group{
  display: flex;
  align-items: center; 
  justify-content: space-between;
}